<footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-column">
                    <h3>Cakes n Crumb</h3>
                    <p>Creating delicious memories one bite at a time since 2010.</p>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-pinterest"></i></a>
                    </div>
                </div>
                
                <div class="footer-column">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/menu">Menu</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/order">Order Online</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/admin/login" class="admin-link"><i class="fas fa-user-shield"></i> Admin</a></li>
                    </ul>
                </div>
                
                <div class="footer-column">
                    <h3>Store Hours</h3>
                    <ul>
                        <li>Monday-Friday: 7am - 6pm</li>
                        <li>Saturday: 8am - 4pm</li>
                        <li>Sunday: 8am - 2pm</li>
                    </ul>
                </div>
                
                <div class="footer-column">
                    <h3>Contact Us</h3>
                    <ul>
                        <li><i class="fas fa-map-marker-alt"></i> 123 Bakery Street, City</li>
                        <li><i class="fas fa-phone"></i> +254 792 324 259</li>
                        <li><i class="fas fa-envelope"></i> info@cakesncrumb.com</li>
                    </ul>
                </div>
            </div>
            
            <div class="copyright">
                <p>&copy; 2024 Cakes n Crumb. All rights reserved.</p>
            </div>
        </div>
    </footer> 